# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
env/
.envrc

# Editor
.vscode/
.idea/
*.swp

# Bench / node
node_modules/
public/node_modules/
dist/

# Logs
logs/
*.log

# Build / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
